.card {
  font-family: 'Inter';
  margin-bottom: 100px;
  width: 200px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card p{
  margin: 0;
  text-align: center;
  color: rgb(131, 131, 131);
}

.card h3 {
  margin: 0;
  padding: 20px 0;
}

.container-mid h2 {
  font-family: 'Inter';
  text-align: center;
  font-size: 25px;
}

.container-mid {
  width: 940px;
  margin: auto;
  margin-top: 50px;
}

.card-image {
  width: 80%;
}

.cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
